.everything {
    color: #000;
}

.a {
    color: rgb(62, 92, 192);
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
  }
  .a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(0, 0, 0);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .a:hover:after { 
    width: 100%; 
    left: 0; 
}